body {
    margin: 0;
    min-height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 40px;
    color: white;
    font-size: 6vw;
    animation: glow 0.4s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px white; }
    to { text-shadow: 0 0 25px yellow; }
}

.cake {
    position: relative;
    width: 90%;
    max-width: 220px;
    margin: 120px auto 0;
}

.layer {
    height: 50px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    margin-bottom: 5px;
    position: relative;
    overflow: visible;
}

.layer.top {
    width: 160px;
    margin: 0 auto -5px;
    
}

.layer.middle {
    width: 190px;
    margin: 0 auto 5px;
    background: #db7786;   /* Light Pink */
}

.layer.bottom {
    width: 220px;
    margin: 0 auto;
    background: #3620231e;   
}

.cream {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.cake-text {
    position: absolute;
    width: 100%;
    top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ff1493;
}

.candle {
    width: 8px;
    height: 35px;
    background: linear-gradient(white, rgb(190, 139, 147));
    position: absolute;
    top: -35px;
    border-radius: 3px;
}

.flame {
    width: 5px;
    height: 10px;
    background: radial-gradient(circle at 50% 60%, yellow 30%, rgb(226, 86, 21) 70%);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0px;
    animation: flicker 0.2s infinite alternate;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.795);
}
.drip {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 120px;
    height: 20px;
    background: white;
    border-radius: 50%;
}
@keyframes flicker {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

button {
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    background: yellow;
    cursor: pointer;
    border-radius: 10px;
    margin: 30px auto;
}


.hidden {
    display: none;
}

.message {
    font-size: 30px;
    color: red ;
    margin-top: 20px;
    animation: fadeIn 2s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to { opacity: 1; }
}
@keyframes shine {
    from { box-shadow: 0 8px 15px rgba(0,0,0,0.3); }
    to { box-shadow: 0 8px 25px rgba(255,255,255,0.6); }
}

    @media (max-width: 600px) {
    .cake {
        margin-top: 80px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }
}